@theme {
  --font-default: "IBM Plex Sans Arabic", sans-serif;
  --font-sans: "IBM Plex Sans Arabic", sans-serif;
  --font-flags:
    "Twemoji Country Flags", "Segoe UI Emoji", "Apple Color Emoji",
    "Noto Color Emoji", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --text-xs: 12px;
  --text-xs--line-height: 16px;
  --text-sm: 14px;
  --text-sm--line-height: 20px;
  --text-md: 16px;
  --text-md--line-height: 24px;
  --text-lg: 18px;
  --text-lg--line-height: 28px;
  --text-xl: 20px;
  --text-xl--line-height: 28px;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-3xl: 30px;
  --text-3xl--line-height: 36px;
  --text-4xl: 36px;
  --text-4xl--line-height: 40px;
  --text-5xl: 48px;
  --text-5xl--line-height: 48px;
  --text-6xl: 60px;
  --text-6xl--line-height: 60px;
  --text-7xl: 72px;
  --text-7xl--line-height: 72px;
  --text-8xl: 96px;
  --text-8xl--line-height: 96px;
  --text-9xl: 128px;
  --text-9xl--line-height: 128px;

  --leading-xs: 16px;
  --leading-sm: 20px;
  --leading-md: 24px;
  --leading-lg: 28px;
  --leading-xl: 28px;
  --leading-2xl: 32px;
  --leading-3xl: 36px;
  --leading-4xl: 40px;
  --leading-5xl: 48px;
  --leading-6xl: 60px;
  --leading-7xl: 72px;
  --leading-8xl: 96px;
  --leading-9xl: 128px;
}
